<head>
<meta name="viewport" content="user-scalable=0, width=device-width, maximum-scale=1, initial-scale=1, minimum-scale=1">
</head>

<template name="header">
  <nav class="navbar navbar-expand-md bg-primary sticky-top text-uppercase" id="userNav">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{pathFor 'userDashboard'}}">
      <img src="/img/compass.svg" class="img-fluid header-avatar" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {{#if currentUser}}
          <li class="nav-item">
            <a class="nav-link" href="{{pathFor 'userDashboard'}}">{{__ "my_dashboard"}}</a>
          </li>
          {{#if hasAgreedTOS }}
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#"
              id="navbarDropdown3" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
                {{__ "explore"}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
              {{#each dept in allDepartments }}
                <a class="dropdown-item" href="{{pathFor 'publicDepartmentView' _id=dept._id }}" >{{dept.name}}</a>
              {{/each}}
            </div>
          </li>
          {{/if}}
          {{#if isManager }}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#"
                id="navbarDropdown1" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{__ "manager"}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <a class="dropdown-item" href="{{pathFor 'managerView'}}">{{__ "dashboard"}}</a>
                <a class="dropdown-item" href="{{pathFor 'managerUserForm'}}">{{__ "profile_form"}}</a>
                <a class="dropdown-item" href="{{pathFor 'managerEventSettings'}}">{{__ "event_settings"}}</a>
                <a class="dropdown-item" href="{{pathFor 'managerEmailForms'}}">{{__ "email_templates"}}</a>
                <a class="dropdown-item" href="{{pathFor 'managerUserList'}}">{{__ "all_users"}}</a>
              </div>
            </li>
          {{/if}}
          {{#if isNoInfo }}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#"
                id="navbarDropdown2" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                  {{__ "noinfo"}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <a class="dropdown-item" href="{{pathFor 'noInfoDashboard'}}">{{__ "dashboard"}}</a>
                <a class="dropdown-item" href="{{pathFor 'noInfoUserList'}}">{{__ "all_users"}}</a>
              </div>
          </li>
          {{/if}}
          {{#if isManagerOrMetaLead }}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#"
                id="navbarDropdown3" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                  {{__ "metalead"}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                <!-- <a class="dropdown-item" href="{{pathFor 'metaleadDashboard'}}">{{__ "dashboard"}}</a> -->
                {{#each dept in departments }}
                  <a class="dropdown-item" href="{{pathFor 'metaleadDepartmentView' _id=dept._id }}" >{{dept.name}}</a>
                {{/each}}
              </div>
            </li>
          {{/if}}
          {{#if isManagerOrLead }}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#"
                id="navbarDropdown4" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                  {{__ "lead"}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                <!-- <a class="dropdown-item" href="{{pathFor 'leadDashboard'}}">{{__ "dashboard"}}</a> -->
                {{#each team in teams }}
                  <a class="dropdown-item" href="{{pathFor 'leadTeamView' _id=team._id }}" >{{team.name}}</a>
                {{/each}}
              </div>
            </li>
          {{/if}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"
              id="navbarDropdown5" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
                {{__ "welcome"}} {{firstName}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
              <a class="dropdown-item" href="{{pathFor 'volunteerForm'}}">{{__ "volunteer_form"}}</a>
              <a class="dropdown-item" href="{{pathFor 'atChangePwd'}}">{{__ "change_password"}}</a>
              <a class="dropdown-item" href="{{pathFor 'accountSettings'}}">{{__ "user_details"}}</a>
              {{#if isImpersonating}}
                <a class="dropdown-item" data-action="unimpersonate">{{__ "impersonate"}}</a>
              {{/if}}
                <a class="dropdown-item" href="{{pathFor 'atSignOut'}}">{{__ "logout"}}</a>
            </div>
          </li>
        {{else}}
    		  {{> atNavButton}}
        {{/if}}
      </ul>
    </div>
  </nav>
</template>
