<template name="hompageNav">
  <nav class="navbar navbar-expand-lg bg-primary fixed-top text-uppercase" id="mainNav">
      <a class="navbar-brand js-scroll-trigger" href="/">
        <img src="/img/compass.svg" class="img-fluid header-avatar">
      </a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase text-white rounded"
        type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu<i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 js-scroll-trigger" href="{{pathFor 'atSignIn'}}">
              <i class="fa fa-download mr-2"></i>Login Now
            </a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
            href="/#portfolio">Organization</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
            href="/#about">About</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
            href="/#contact">Contact</a>
          </li>
        </ul>
      </div>
  </nav>
</template>

<template name="homeLayout">
  {{> connectionBanner}}

  <div id="page-top">
    {{> hompageNav }}

    {{> yield}}
  </div>
</template>

<template name="homePage">
  <div id="page-top">

    {{> hompageNav}}

    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <h1 class="home-title">Co-Create Nowhere 2018</h1>
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <p class="lead">
                Nowhere is a collective experiment conceived,
                built, experienced and returned to nothing by
                a lot of nobodies just like YOU.<br>
                So we need YOU to help set up the site, keep
                things running smoothly during the event, and
                pack up everything back to dust.
              </p>
            </div>
          </div>
      </div>
    </header>

    <!-- <a href="{{pathFor 'atSignIn'}}" class="btn btn-lg btn-outline">
        Sign-Up
    </a>
    <a href="{{pathFor 'atSignIn'}}" class="btn btn-lg btn-outline">
        Log-in
    </a> -->

    <!-- Portfolio Grid Section -->
    <section class="home portfolio" id="portfolio">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Organization</h2>
        <div class="row">
          <div class="col-md-5">
            {{> organization }}
          </div>
          <div class="col-md-5">
            <div class="row">
              {{#each dept in departments}}
                <div class="col-sm-4 portfolio-item">
                  <a href="#{{dept.name}}Modal" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                      <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <!-- <img src="img/portfolio/cabin.png" class="img-responsive" alt=""> -->
                  </a>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="home bg-secondary mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase">About</h2>
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead">
              Nowhere is an experiment in creative freedom, participation and
              cash-free community, conceived, built, experienced and returned
              to nothing by YOU
            </p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">
              We need lots of hands in a variety of roles to set up the site,
              keep things running smoothly during the event, and then pack up
              when the event is over.
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Location</h4>
            <p class="lead mb-0">Middle of Spain
              <br>Middle of Nowhere</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <!--<h4 class="text-uppercase mb-4">Around the Web</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-google-plus"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-dribbble"></i>
                </a>
              </li>
            </ul>-->
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">About this website</h4>
            <p class="lead mb-0">Made with love
              <a href="https://gitlab.com/abate/volunteers-nowhere">See the Code</a>.
            </p>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Licence AGPL3</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

  </div>

</template>

<template name="termsCheckbox">
  <div class="at-input inline field mt-4">
    <label>TOS</label>
    <div class="checkbox">
      <label for="at-field-{{_id}}">
      <input type="{{type}}" id="at-field-{{_id}}" name="at-field-{{_id}}" {{disabled}}>
        <span class="checkbox-material"><span class="check"></span></span>
        I've read and agree to the <a href="/volunteers-agreement">Volunteer Agreement</a> and GDPR.
        <div class="mt-2">
          <label>GDPR Disclaimer: </label>
          <p>
            I consent to my data being stored for a period of up to 18 months from the last date my data was
            entered or modified, and for it to be used only to facilitate the scheduling and safety of volunteers
            on behalf of Nowhere (Europe) Ltd. I understand that you will delete my data within one month of
            my giving formal written notice to the registered address of Nowhere (Europe) Ltd, asking you to do so.
           </p>
         </div>
      </label>
    </div>
  </div>
</template>
