<template name="notFound">
  <div class="template-not-found">
    <div class="container text-center">
      <h1>Got Lost ?</h1>
      <p>
        This is not the page you are looking for
      </p>
    </div>
  </div>
</template>

<template name="loadingTemplate">
  {{> spinner }}
</template>
