@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Unica+One');

/* FONTS */
h1, h2, h3 {
  font-family: 'Unica One' /*'Roboto Condensed'*/;
}
h2 {
  font-weight: 100;
}
h2.header {
  font-size: 1.5rem;
  opacity: 0.6;
  color: #3944e8;
}

/* padding fix on list section titles */
h2.header {
  line-height: normal;
}

h4, h5, h6, p {
  font-family: 'Roboto Condensed';
}
h5 {
  font-weight: 200;
  letter-spacing: 1px;
}
p.card-text {
  font-weight: 200;
  letter-spacing: 0.5px;
}

.dark-text {
  color: rgba(0, 0, 0, 0.7);
}

.bg-grey{
  background-color: #bdaaa4; /*(dustgrey)*/
  color: white;
}

/* navbar */
.navbar {
    padding: 0 25px 0px 25px;
}

/* this color here cannot be set in main.scss */
.navbar a {
  color: white;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Roboto Condensed';
  letter-spacing: 1.5px;
}

.navbar a.dropdown-item {
  color: black;
  font-size: 18px;
}

.navbar-nav .dropdown-menu {
  overflow-y: auto;
  /* Hack to set the max height correctly to allow scrolling */
  max-height: calc(100vh - 58px);
}

/* .nav.nav-tabs > li.active a {
    border: 0;
}
.nav.nav-tabs li:not(:last-child) a {
    border-right: 1px solid #ccc;
}
 */
.nav.nav-tabs li a {
  border-radius: 0; /* avoid curved divisor corner */
}

/* for all btns : apply, join, bail */
.btn-action {
  width: 100%;
  border-width: 0px;
  border-radius: 0px;
  font-size: 16px;
  font-weight: 200;
  font-family: 'Roboto Condensed';
  letter-spacing: 1.5px;
}

/* for buttons in the left pannel */
.btn-default {
  border-radius: 0px;
  font-size: 16px;
  font-weight: 200;
  font-family: 'Roboto Condensed';
  letter-spacing: 1.5px;
  margin: 4px 0px;
}
/* for buttons in the left menus */

/* TODO: mettre une classe pour que je puisse changer couleur, supprimer les border-radius
et injecter la typo */

/* apply to all col classes. No need to modify the template */
.signupsList div[class^="col-"], .signupsList div[class*=" col-"],
.bookedTable div[class^="col-"], .bookedTable div[class*=" col-"] {
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: start;
  align-items: center;
}

.signupsListItem , .bookedTableItem {
  padding: 15px 10px 15px 10px;
  /* margin: 10px 0px; */
  margin-bottom: 10px;
  background: rgba(189, 170, 164, 0.5);
}
.bookedTableItem {
  margin-left: 5px;
}
.signupsListItem:nth-child(odd), .bookedTableItem:nth-child(odd) {
    color: rgba(0, 0, 0, 0.8);
    background: rgba(189, 170, 164, 0.4);
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

/* Avatar image on the toolbar */
.header-avatar {
  width: 48px;
  height: :48px;
}

/* Add red * to autoform required fields */
[data-required] label:after {content: ' *'; color: red}

/* Make Select2 boxes match Bootstrap heights: */
.select2-selection__rendered {
  line-height: 32px !important;
}

.select2-selection {
  height: 45px !important;
}

@media print {
  .card {
    page-break-before: always;
  }
}
