<template name="noInfoDashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 bg-grey">
        <h3>NoInfo</h3>
        <h5 class="mb-2 dark-text">{{__ "needs_of_the_day"}}:</h5>
        XX/XX>
        <h5 class="mb-2 dark-text">{{__ "needs_of_the_week"}}:</h5>
        XX/XX
        <h5 class="mb-2 dark-text">{{__ "urgent_shifts"}}:</h5>
        XX/XX
      </div>
      <div class="col">
        <h2 class="header"> {{__ "urgent_shifts_today"}} </h2>
        filters : team / urgent / time of day
        <!-- {{> weekstrip day=currentDay callback=updateCurrentDay }} -->
        <!-- {{> volunteerShiftsList }} -->
        <!-- todo - searchQuery=searchQuery present day }} -->
      </div>
      <div class="col">
        <h2 class="header"> {{__ "urgent_shifts_week"}} </h2>
        filters : day / team / urgent / time of day
        <!-- {{> volunteerShiftsList}} -->
        <!-- todo - display only the shifts/tasks with empty spots -->
      </div>

      <!--<div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default">
              <h3> Departments </h3>
              <ul>
                {{#each dept in (allDepartments currentDay)}}
                  <li><a href="#" data-action="deptSwitch" data-id="{{dept._id}}">{{dept.name}}</a></li>
                {{/each}}
              </ul>
              <h3> Teams </h3>
              <ul>
                {{#each team in (allTeams currentDay)}}
                  <li><a href="#" data-action="teamSwitch" data-id="{{team._id}}">{{team.name}}</a></li>
                {{/each}}
              </ul>
            </div>
          </div>
          <div class="col-md-8">
            <h3> Day </h3>
            {{allShifts.teams.[0]}}
            {{> volunteerShiftsForm searchQuery=searchQuery enroll="true" }}
          </div>
        </div>
      </div>-->
    </div>
  </div>
</template>

<template name="noInfoNewUser">
  <h1> NoInfo </h1>
  {{> adminEnrollAccount }}
</template>

<template name="userSearch">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
      <input type="text" name="search" id="users"
        data-page="{{page}}"
        class="form-control" placeholder="{{__ 'name_or_email'}}">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
      <input type="text" name="ticketNumber" id="ticketNumber"
        data-page="{{page}}"
        class="form-control" placeholder="{{__ 'ticket_number_search'}}">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label class="checkbox inline">
          <input type="checkbox" name="terms" id="terms" data-page="{{page}}" checked> GDPR
        </label>
      </div>
    </div>
  </div>
</template>

<template name="enrollTableRow">
  <tr>
    <td> {{> Template.contentBlock }} </td>
    <td>
      {{#if profile.picture}}
        <!-- XXX link or subscription broken -->
        <img src="{{imageFileLink profile.picture}}" class="rounded-circle header-avatar img-fluid">
      {{else}}
        <img src="/img/mr_nobody.jpg" class="rounded-circle header-avatar">
      {{/if}}
  </td>
    <td>{{getUserName _id}}</td>
    <td>{{emails.[0].address}}
      <!-- {{#if emails.[0].verified}}<span class="text-success">{{fa 'check'}}</span>{{/if}} -->
    </td>
  </tr>
</template>

<template name="leadEnrollUsersTable">
  {{> userSearch }}
  {{> pages }}
  {{> pagesNav }}
  <button class="btn btn-primary pull-right" data-action="enroll">
    {{__ 'enroll'}}
  </button>
</template>

<template name="leadEnrollTableRow">
  {{#enrollTableRow}}
  <div class="form-check">
    <label>
      <input name="radioGroup" class="enrollUser"
        type="radio" id="{{_id}}"
        data-userid="{{_id}}"
        checked="{{#if signed}}true{{/if}}"/>
    </label>
  </div>
  {{/enrollTableRow}}
</template>

<template name="shiftEnrollUsersTable">
  {{> userSearch }}
  {{> pages }}
  {{> pagesNav }}
  <button class="btn btn-primary pull-right" data-action="enroll">
    {{__ 'enroll'}}
  </button>
</template>

<template name="shiftEnrollTableRow">
  {{#enrollTableRow}}
    <input name="{{_id}}-group" class="enrollUser"
      type="checkbox" id="{{_id}}"
      data-userid="{{_id}}"
      checked="{{#if signed}}true{{/if}}"/>
  {{/enrollTableRow}}
</template>

<template name="projectEnrollUsersTable">
  {{> userSearch }}
  {{> pages data=this}}
  {{> pagesNav }}
  <button class="btn btn-primary pull-right" data-action="enroll">
    {{__ 'enroll'}}
  </button>
</template>

<template name="projectEnrollTableRow">
  {{#enrollTableRow}}
    <div class="form-inline">
      <div class="input-group mb-2 mr-sm-2">
        <input type="text" class="form-control"
          placeholder="{{__ 'select_dates'}}"
          id="{{_id}}" data-userid="{{_id}}"
          data-input>
        <div class="input-group-prepend">
          <button type="button" class="btn btn-action" title="clear" data-clear>
            {{fa "close"}}
          </button>
        </div>
      </div>
    </div>
  {{/enrollTableRow}}
</template>

<template name="noInfoUserList">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 bg-grey">
        <h3>NoInfo</h3>
        <span class="mb-2 dark-text">{{__ "ticket_holders"}}:</span> {{userStats.ticketHolders}}<br>
        <span class="mb-2 dark-text">{{__ "enrollment_sent"}}:</span> {{userStats.enrollmentSent}}<br>
        <span class="mb-2 dark-text">{{__ "enrolled"}}:</span> {{userStats.enrollmentAck}} (+ {{userStats.manualRegistration}})<br>
        <span class="mb-2 dark-text">{{__ "profile_filled"}}:</span> {{userStats.profileFilled}}<br>
        <span class="mb-2 dark-text">{{__ "with_duties"}}:</span> {{userStats.withDuties}}<br>
        <span class="mb-2 dark-text">{{__ "with_picture"}}:</span> {{userStats.withPicture}}<br>
        <span class="mb-2 dark-text">{{__ "online"}}:</span> {{userStats.online}}<br>
        <span class="mb-2 dark-text">{{__ "manual_registration"}}:</span> {{userStats.manualRegistration}}
        <br/>
        <!-- <button type="button" class="btn btn-default btn-sm" data-action="new_user">
          {{__ "new_user" }}
        </button> -->
      </div>
      <div class="col pt-2">
        {{> userSearch }}
        {{> pages }}
        {{> pagesNav }}
      </div>
    </div>
  </div>
</template>

<template name="notificationsUserAction">
  <li class="dropdown-item">
    <a data-action="send-notification">
      {{fa "envelope"}} {{__ "send_notifications"}}
    </a>
  </li>
</template>

<template name="noInfoUser">
{{#if Template.subscriptionsReady}}
  {{#allUsersProfile}}
    {{#usersProfileActions}}
      {{> enrollUserAction callback=callbackEnrollment user=this }}
      {{> notificationsUserAction callback=callbackNotification user=this }}
      {{> editProfileUserAction user=this }}
      {{> editEmailUserAction user=this }}
      {{> changePwdUserAction user=this }}
    {{/usersProfileActions}}
    <br/>
    <button type="button" class="btn btn-default btn-sm"
      data-action="user_form" data-userid="{{_id}}" >
      {{__ "user_form" }}
    </button>
  {{/allUsersProfile}}
{{/if}}
</template>

<template name="noInfoUserProfileLink">
  <a href="#" data-action="user_form" data-userid="{{userId}}">{{getUserName userId}}</a>
</template>

<template name="noInfoUserProfile">
  {{#if Template.subscriptionsReady}}
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="raw">
          <div class="col-md-3 col-lg-3 " align="center">
            {{#if user.profile.picture}}
              <img src="{{imageFileLink user.profile.picture}}" class="rounded-circle header-avatar img-fluid">
            {{else}}
              <!-- XXX this picture should be part of this module -->
              <img src="/img/mr_nobody.jpg" class="rounded-circle header-avatar">
            {{/if}}
          </div>
        </div>
        <div class="row">
          <table class="table table-user-information">
            <tbody>
              <tr><td>{{__ "name"}}</td><td>{{getUserName user._id}}
                {{#if status.online}}<span class="text-success"> {{fa "circle"}}</span>{{/if}}
              </td></tr>
              <tr><td>{{__ "real_name"}}</td><td>{{user.profile.firstName}} {{user.profile.lastName}}</td></tr>
              <tr><td>{{__ "ticket_number"}}</td><td>{{user.profile.ticketNumber}}</td></tr>
              <tr><td>{{__ "email"}} </td>
                <td>
                  {{user.emails.[0].address}}
                  {{#if user.emails.[0].verified}}
                    <span class="text-success">{{fa 'check'}}</span>
                  {{else}}
                    <span class="text-danger">{{fa 'warning'}}</span>
                  {{/if}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>
        {{> formBuilderDisplay
          formName=formName
          form=form
          user=user}}
        </p>
      </div>
      <div class="col">
        <h5 class="mb-2 dark-text">{{__ "responsibilities"}} </h5>
        {{> userResponsibilities userId=user._id }}
        <h2 class="header">{{__ "shifts" }}</h2>
        {{> bookedTable userId=user._id }}
      </div>
    </div>
  </div>
  {{/if}}
</template>

<template name="doubleBookingError">
  TODO
</template>
