<template name="userDashboard">
{{#if Template.subscriptionsReady }}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-2 pr-1 bg-grey">
        {{#if currentUser.profile.picture}}
          <h3>{{__ "welcome"}} {{ getUserName userId }}</h3>
          <img src="{{imageFileLink currentUser.profile.picture}}" class="rounded-circle header-avatar">
        {{else}}
          <h3>{{__ "welcome"}} {{ getUserName userId }}</h3>
          <img src="img/mr_nobody.jpg" class="rounded-circle header-avatar">
          <a href="{{pathFor 'accountSettings'}}">{{__ "add_picture"}}</a>
        {{/if}}
        <!-- <h5 class="mb-2 dark-text">{{__ "responsibilities"}} </h5> -->
        {{> userResponsibilities }}
        <br/>
        <button type="button" class="btn btn-default btn-sm" data-action="edit_form">
          {{__ "edit_user_info" }}
        </button>
      </div>
      {{#if bookedMissions }}
        <div class="col-sm-12 col-md-5 pl-1 pr-1">
          <h2 class="header">{{__ "booked_missions" }}</h2>
          {{> bookedTable }}
        </div>
        <div class="col-sm-12 col-md-5 pl-1">
          <h2 class="header">{{__ "shift_need_help"}}</h2>
          {{> filteredSignupsList }}
        </div>
      {{else}}
        <div class="col-sm-6 col-md-10 pl-1">
          {{> filteredSignupsList }}
        </div>
      {{/if}}
    </div>
  </div>
<!-- {{else}}
  {{> loader }} -->
{{/if}}
</template>

<template name="userResponsibilities">
  <ul class="list-unstyled">
    {{#if isManager }}<li><span class="mb-2 dark-text">{{__ "role"}}: </span>Manager</li>{{/if}}
    {{#if isNoInfo }}<li><span class="mb-2 dark-text">{{__ "noInfo"}}: </span>Member</li>{{/if}}
    {{#each team in leads}}
      <li>
        <span class="mb-2 dark-text">{{__ "lead"}}:</span>
        <a href="{{pathFor 'leadTeamView' _id=team._id }}">{{team.name}}</a>
      </li>
    {{/each}}
    {{#each dept in metaleads}}
      <li>
        <span class="mb-2 dark-text">{{__ "metalead"}}: </span>
        <a href="{{pathFor 'metaleadDepartmentView' _id=dept._id }}">{{dept.name}}</a>
      </li>
    {{/each}}
  </ul>
</template>

<template name="filteredSignupsList">
  <select id='typeSelect' class="selectpicker">
      <option value="event">{{__ "event_shifts"}}</option>
      <option value="project">{{__ "build_strike"}}</option>
      <option value="lead">{{__ "lead_positions"}}</option>
  </select>
  <select
    id='skillSelect'
    class="selectpicker"
    data-none-selected-text="{{__ 'filter_by_skill'}}"
    data-count-selected-text="{{__ 'filter_selected_skill'}} {0}/{1}"
    data-selected-text-format="count > 2"
    data-actions-box="true"
    multiple
  >
    {{#each skill in skills}}
      <option value="{{skill.value}}">{{ skill.label }}</option>
    {{/each}}
  </select>
  <select
    id='quirkSelect'
    class="selectpicker"
    data-none-selected-text="{{__ 'filter_by_quirk'}}"
    data-count-selected-text="{{__ 'filter_selected_quirk'}} {0}/{1}"
    data-selected-text-format="count > 2"
    data-actions-box="true"
    multiple
  >
    {{#each quirk in quirks}}
      <option value="{{quirk.value}}">{{ quirk.label }}</option>
    {{/each}}
  </select>
  <select
    id='prioritySelect'
    class="selectpicker"
    data-none-selected-text="{{__ 'filter_by_priority'}}"
    data-count-selected-text="{{__ 'filter_selected_priority'}} {0}/{1}"
    data-selected-text-format="count > 2"
    multiple
  >
    <option value="essential">{{__ 'essential'}}</option>
    <option value="important">{{__ 'important'}}</option>
    <option value="normal">{{__ 'normal'}}</option>
  </select>
  {{> signupsList signupsListProps }}
</template>

<template name="volunteerForm">
  <div class="container">
    <h2>{{__ "volunteer_form"}}</h2>
    <p>{{__ "volunteer_form_help"}}</p>
    {{> addVolunteerForm }}
  </div>
</template>

<template name="accountSettings">
  <div class="container">
    <h2>{{__ "user_details"}}</h2>
    {{> userProfile }}
  </div>
</template>
