<template name="managerView">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 bg-grey">
        <h3>{{__ "manager"}}</h3>
        <h5 class="mb-2 dark-text">{{__ "leads"}}</h5>
        <div data-toggle="tooltip" data-placement="top" title="{{__ "wanted_covered_confirmed"}}">
          occupied/total
        </div>
        <h5 class="mb-2 dark-text">{{__ "metalead"}}</h5>
        <div data-toggle="tooltip" data-placement="top" title="{{__ "wanted_covered_confirmed"}}">
          occupied/total
        </div>
        <h5 class="mb-2 dark-text">{{__ "shifts"}}</h5>
        <div data-toggle="tooltip" data-placement="top" title="{{__ "wanted_covered_confirmed"}}">
          booked/total
        </div>
        <button type="button" class="btn btn-default btn-sm" data-action="settings">
          {{__ "event_settings" }}
        </button>
        <button type="button" class="btn btn-default btn-sm" data-action="settings">
          {{__ "add_department" }}
        </button>
      </div>
      <div class="col-md-5">
        <h2 class="header">{{__ "departments"}}</h2>
        <!-- {{> departmentsList }} -->
        <h2 class="header">{{__ "teams"}}</h2>
        <!-- {{> teamsList}} -->
      </div>
      <div class="col-md-5">
        <h2 class="header">{{__ "pending_metalead_requests"}}</h2>
        {{> managerSignupsList }}
      </div>
    </div>
  </div>
</template>

<template name="managerUserForm">
  {{> volunteerFormBuilder }}
</template>

<template name="managerEventSettings">
{{#if Template.subscriptionsReady }}
  {{> insertUpdateTemplate form=form data=data }}
{{/if}}
</template>

<template name="managerEmailForms">
  <div class="container-fluid">
    {{> emailForms }}
  </div>
</template>

<template name="managerUserList">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 bg-grey">
        <h3>Manager</h3>
        <h5 class="mb-2 dark-text">{{__ "total_users"}}:</h5> {{total_users}}
        <h5 class="mb-2 dark-text">{{__ "profile_filled"}}:</h5> {{profile_filled}}
        <h5 class="mb-2 dark-text">{{__ "user_with_duties"}}:</h5> {{with_duties}}
        <br/>
        <button type="button" class="btn btn-default btn-sm" data-action="new_user">
          {{__ "new_user" }}
        </button>
      </div>
      <div class="col pt-2">
        {{> userSearch }}
        {{> pages }}
        {{> pagesNav }}
      </div>
    </div>
  </div>
</template>

<template name="resetUserAction">
  <li class="dropdown-item">
    <a data-action="reset-user">
      {{fa "undo"}} {{__ "reset"}}
    </a>
  </li>
</template>

<template name="managerUser">
{{#if Template.subscriptionsReady}}
  {{#allUsersProfile}}
    {{#usersProfileActions}}
      <!-- {{> makeAdminUserAction user=this}} -->
      {{> makeManageUserAction user=this}}
      {{> makeUserUserAction user=this}}
      {{> removeUserAction user=this}}
      {{> resetUserAction user=this}}
      <!-- TODO -->
      <!-- {{> banUserAction user=this}} -->
      <!-- {{> unBanUserAction user=this}} -->
    {{/usersProfileActions}}
  {{/allUsersProfile}}
{{/if}}
</template>
