<template name="leadTeamView">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 bg-grey">
          <h3>{{ name }}
            <small>
              <a  data-toggle="tooltip" data-placement="top" title="{{__ 'public_link'}}"
                  href="{{pathFor 'publicTeamView' _deptId=parentId _teamId=_id}}">
                <i class="fa fa-link" aria-hidden="true"></i>
              </a>
            </small>
        </h3>
        <h5 class="mb-2 dark-text">{{__ "leads"}}</h5>
        <ul>
          {{#each lead in allLeads}}
            <li>{{getUserName lead.userId}}</li>
          {{/each}}
        </ul>
        <h5 class="mb-2 dark-text">{{__ "information"}}</h5>
        <ul>
          <li>
            <div data-toggle="tooltip" data-placement="top" title="{{__ 'wanted_covered_confirmed'}}">
              {{__ "shifts"}}: {{teamStats.team.shiftRate.needed}}/{{teamStats.team.shiftRate.confirmed}}
            </div>
          </li>
          <li>
            <div data-toggle="tooltip" data-placement="top" title="{{__ 'total_number_of_volunteers'}}">
              {{__ "volunteers"}}: {{teamStats.team.volunteerNumber}}
            </div>
          </li>
          <li>
            <div data-toggle="tooltip" data-placement="top" title="{{__ 'total_number_of_volunteers'}}">
              {{__ "pending_requests"}}: {{$len teamStats.pendingRequests}}
            </div>
          </li>
        </ul>
        <button type="button" class="btn btn-default btn-sm" data-action="team_settings">
          {{fa "wrench"}} {{__ "team_settings"}}
        </button>
        <!-- <button type="button" class="btn btn-default btn-sm" data-id="{{_id}}" data-action="add_shift">
          {{fa "wrench"}} {{__ "add_shift"}}
        </button> -->
        <button type="button" class="btn btn-default btn-sm" data-id="{{_id}}" data-action="add_shift_group">
          {{fa "wrench"}} {{__ "add_rota"}}
        </button>
        <!-- <button type="button" class="btn btn-default btn-sm" data-id="{{_id}}" data-action="add_task">
          {{fa "wrench"}} {{__ "add_task"}}
        </button> -->
        <button type="button" class="btn btn-default btn-sm" data-id="{{_id}}" data-action="add_project">
          {{fa "wrench"}} {{__ "add_project"}}
        </button>

        <button type="button" class="btn btn-default btn-sm" data-id="{{_id}}" data-action="show_rota">
          {{fa "calendar"}} {{__ "rota"}}
        </button>
      </div>
      <div class="
        {{#if $gt ($len teamStats.pendingRequests) 0}}
          col-sm-12 col-md-5 pr-1
        {{else}}
          col-sm-6 col-md-10
        {{/if}}
        pl-1 user-top">
        {{> leadTeamTabs }}
      </div>
      {{#if $gt ($len teamStats.pendingRequests) 0}}
        <div class="col-sm-12 col-md-5 pl-1 user-top">
          <h2 class="header">{{__ "applications" }}</h2>
          {{> teamSignupsList signupListContext }}
        </div>
      {{/if}}
    </div>
  </div>
</template>

<template name="leadTeamTabs">
  {{#if Template.subscriptionsReady}}
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#shifts" role="tab" data-toggle="tab">
        <span>{{__ "all_shifts"}}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#projects" role="tab" data-toggle="tab">
        <span>{{__ "all_projects"}}</span>
      </a>
    </li>
  </ul>

  <!-- Shifts -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="shifts">
      <div class="pt-2">
        {{> weekstrip day=currentDay shownDay=shownDay callback=updateCurrentDay }}
        {{# teamShiftsTable _id=_id date=currentDay userInfoTemplate="noInfoUserProfileLink" }}
          {{> shiftSignupEnrollAction }}
        {{/teamShiftsTable}}
      </div>
    </div>
    <!-- Projects -->
    <div role="tabpanel" class="tab-pane fade" id="projects">
      {{# teamProjectsTable _id=_id userInfoTemplate="noInfoUserProfileLink" }}
        {{> projectSignupEnrollAction }}
      {{/teamProjectsTable}}
    </div>
  </div>
  {{/if}}
</template>

<template name="shiftSignupEnrollAction">
  <button
    class="btn btn-sm btn-circle"
    href="#"
    data-action="enroll"
    data-id="{{shift._id}}"
    data-team="{{shift.parentId}}"
    data-type="shift"
    data-policy="{{shift.policy}}"
  >
    {{fa "user-plus"}}
  </button>
</template>

<template name="projectSignupEnrollAction">
  <button
    class="btn btn-sm btn-circle"
    href="#"
    data-action="enroll"
    data-id="{{project._id}}"
    data-team="{{project.parentId}}"
    data-type="project"
    data-policy="{{project.policy}}"
  >
    {{fa "user-plus"}}
  </button>
</template>
